

body {

    /*
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle at top left, #e7ece6, #5b9279cf);
    background-size: 400% 400%;
    animation: animateBackground 10s ease infinite;*/
}

@keyframes animateBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.welcome-container {
    color: #ffffff;
    padding-top: 100px;
    background: radial-gradient(circle at top left, #e7ece6, #5b9279cf);
    background-size: 400% 400%;
    animation: animateBackground 10s ease infinite;
    text-align: center;
    height: 30cm;
}


@media only screen and (max-width: 600px) {
    .welcome-container {
        padding-top: 50px; 
    }

    .options-container {
        flex-direction: column; 
    }

    .option {
        margin: 20px auto; 
    }

}







.options-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.option {
    margin: 50px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.option img {
    margin-bottom: 10px; 
}

button {
    padding: 15px 30px;
    margin: 0 10px;
    background-color: #f89d13;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fcbb5a;
}

.form-container {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjusted to take full width */
    max-width: 430px; /* Maximum width for better readability */
    overflow: hidden;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 100px;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}
#point1 {
    padding: 2px;
    text-align: center;
    font-size: larger;
      
}

#point2 {
    padding: 2px;
    text-align: center;
    font-size: larger;
      

}



.form-step {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 0.5s ease;
}

.form-step.active {
    transform: rotateY(0deg);
}

.form-step.inactive {
    transform: rotateY(180deg);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.success-animation {
    text-align: center;
    color: #f89d13;
    font-size: 24px;
    animation: successFade 2s ease;
}

input[type="text"],
select {
    width: calc(100% - 3px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-sizing: border-box;
}


.file-field {
    margin-top: 10px;

}

.file-field label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #5b9279;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    font-size: 11px;
    border: 0px solid #5b9279;
    border-radius: 1%;
    background-color: #5b927937;
}

.file-field label:hover {
    color: #5b9279; 
    font-weight: bold; 
}

.delete-btn {
    color: red; 
    margin-left: 5px; 
    cursor: pointer; 
}

.file-item {
    display: flex;
    align-items: center;
}

.file-name {
    flex-grow: 1; 
}

.file-name:hover {
    text-decoration: underline; 
}

.file-field label #fileLabel {
    margin-right: 10px;
    flex-grow: 1;
}

.file-field label:hover #fileLabel {
    font-weight: bolder;
    color: #5b9279;
}

.file-field output {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #777;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.form-container {
  
    animation: slideIn 0.5s ease forwards;

}


.form-step.active {
    animation: slideIn 0.5s ease forwards;
}

@keyframes successFade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.error-message-small {
    color: red;
    font-size: 10px;
}

.point {
    width: 40px;
    height: 40px;
    background-color: #fdcb7f;
    border-radius: 50%;
    position: absolute;
    top: 0;
    margin-top: 90px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid transparent; 
}

.point.active {
    background-color: #f89d13; 
    border-color: #f89d13; 
}


#point1 {
    left: calc(50% - 50px);
}

#point2 {
    right: calc(50% - 50px);
}

.success-message-btn {
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #f89d13;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.success-message-btn:hover {
    background-color: #fcbb5a;
}

.form-step.company-details h2 {
    color: #5b9279; 
    font-size: 18px; 
}

.form-step.trader-details h2 {
    color: #5b9279; 
    font-size: 18px; 
}

/*css for transportatopn company form*/

.form-step.transportation-details {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjusted to take full width */
    max-width: 800px; /* Maximum width for better readability */
    overflow: hidden;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 60px;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    
}

@media only screen and (max-width: 600px) {
  

 

  

}



.form-step.transportation-details {
    animation: slideIn 0.5s ease forwards;
}


.form-step.transportation-details.active {
    animation: slideIn 0.5s ease forwards;
}


.form-step.transportation-details h2 {
    color: #5b9279; 
}

#transportationRegistrationForm input[type="text"],
#transportationRegistrationForm select {
    width: calc(100% - 3px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    box-sizing: border-box;
}


#transportationRegistrationForm .file-field label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #5b9279;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 20px;
    font-size: 11px;
    border: 0px solid #5b9279;
    border-radius: 1%;
    background-color: #5b927937;
}

#transportationRegistrationForm .file-field label:hover {
    color: #5b9279; 
    font-weight: bold; 
}


#transportationRegistrationForm .file-item {
    display: flex;
    align-items: center;
}


#transportationRegistrationForm .file-name {
    flex-grow: 1; 
}


#transportationRegistrationForm .file-name:hover {
    text-decoration: underline; 
}


#transportationRegistrationForm .file-field output {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #777;
}

.date-label {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}

