.titleFrame {
  background-color: #5b9279;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  font-size: 12px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  border-radius: 10px;
}


.formBody {
  display: none;
  background-color: #F5F5F5;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  padding-top: 5px;
  border-radius: 10px;
}

.formBody > form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
}

.formBody > h5 {
  font-weight: bold;
  padding-top: 10px;
  color: #5b9279;
}

.formBody > form {
  font-size: 14px;
  font-weight: 650;
  color: #386e56;
}

/* The Close Button */
.formClose {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}

.formClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.formClose:hover,
.formClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type=text] {
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date] {
  width: 100%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.file-label {
  padding: 3px;
}

.smallText {
  color: #8a8988;
  font-size: 12px;
}

.Check_box {
  margin-left: 105px;
  margin-top: 15px;
  font-size: 12px;
  font-weight: bold;
}

.Check_box input[type="checkbox"] {
  vertical-align: middle;
}

.addTruck-btn {
  color: #386e56;
  border: none;
  border-radius: 10px;
  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 15px;
  transition-duration: 0.4s;
  font-weight: bold;
}


.confirm-butn {
  background-color:#5b9279;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 15px;
  margin-bottom: 25px;
  transition-duration: 0.4s;
}

.Buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addTruck-btn:hover {
  background-color: #89c0a7;
  color: #ffffff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.confirm-butn:hover {
  background-color: #f89d13;
  color: #ffffff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*---------------------------------------------------------------------*/

/* The FIRST Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-left: 450px;
  padding-right: 450px;
}

/* Modal Content/Box */
.modal-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 25% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 320px;
  border-radius: 20px;
  text-align: center;
}

.close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}

.modal-content > img {
  width: 92px;
  margin-bottom: 15px;
}

.modal-content > p {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
}

.modal-content > button {
  background-color:  #f89d13;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(58, 57, 57, 0.24), 0 17px 50px 0 rgba(53, 52, 52, 0.19);
  margin-bottom: 10px;
}

/*Cancel and confirm buttons*/
.acceptConfirm:hover {
  background-color: #5b9279;
  color: #ffffff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cancel:hover {
  background-color: #5b9279;
  color: #ffffff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*---------------------------------------------------------------------*/

/* The SECOND Modal (background) */
.successmodal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-left: 450px;
  padding-right: 450px;
}

/* Modal Content/Box */
.successModal-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 25% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 350px;
  height: 422px;
  border-radius: 8px;
  text-align: center;
}

.secondClose {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}

.successModal-content > img {
  width: 180px;
  margin-bottom: 15px;
  margin-top: 60px;
  margin-left: 20px;
}

.successModal-content > p {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
}

/* The Close Button */
.secondClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.secondClose:hover,
.secondClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}