body{
    
}

.titleFrame {
    background-color: #333333;
    color: #eae6e5;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    border-radius: 10px;
}

.formBody {
    background-color: #F5F5F5;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
}

.formBody > form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
}

.formBody > h6 {
    font-weight: bold;
}

.formBody > form {
    font-size: 14px;
}

input[type=text], select {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .smallText {
    color: #8a8988;
    font-size: 12px;
}

.Check_box {
    margin-left: 105px;
    margin-top: 15px;
    font-size: 12px;
}

.Check_box input[type="checkbox"] {
    vertical-align: middle;
}

.addTruck-btn {
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 5px;
    font-size: 14px;
    transition-duration: 0.3s;
}

.confirm-butn {
    background-color: #333333;
    color: #eae6e5;
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 15px;
    margin-bottom:  15px;
    font-size: 14px;
    transition-duration: 0.3s;
}

.Buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addTruck-btn:hover {
    background-color: #606060;
    color: #eae6e5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.confirm-butn:hover {
    background-color: #000000;
    color: #eae6e5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


/* The first modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* End of first modal */