
/*

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

*/

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
    --white-color:                  #ffffff;
    --primary-color:                #f89d13;
    --secondary-color:              #000000;
    --section-bg-color:             #f0f8ff;
    --custom-btn-bg-color:          #80d0c7;
    --custom-btn-bg-hover-color:    #13547a;
    --dark-color:                   #000000;
    --p-color:                      #717275;
    --border-color:                 #425c53;
    --link-hover-color:             #13547a;
  
    --body-font-family:             'Open Sans', sans-serif;
    --title-font-family:            'Montserrat', sans-serif;
  
    --h1-font-size:                 58px;
    --h2-font-size:                 46px;
    --h3-font-size:                 32px;
    --h4-font-size:                 28px;
    --h5-font-size:                 24px;
    --h6-font-size:                 22px;
    --p-font-size:                  20px;
    --menu-font-size:               14px;
    --btn-font-size:                18px;
    --copyright-font-size:          16px;
  
    --border-radius-large:          100px;
    --border-radius-medium:         20px;
    --border-radius-small:          10px;
  
    --font-weight-normal:           400;
    --font-weight-medium:           500;
    --font-weight-semibold:         600;
    --font-weight-bold:             700;
  }
  
  
  
  
  /*---------------------------------------
    SECTION               
  -----------------------------------------*/
  .section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .section-bg {
    background-color: var(--section-bg-color);
  }
  
  .section-overlay {
    background-image: linear-gradient(15deg, #5b9279 0%, #8fcb9b 100%);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.85;
  }
  
  .section-overlay + .container {
    position: relative;
  }
  
  .tab-content {
    background-color: var(--white-color);
    border-radius: var(--border-radius-medium);
  }
  
  
  
  /*---------------------------------------
    CUSTOM ICON COLOR               
  -----------------------------------------*/
  
  
  
  
  
  
  
  
  
  
  /*---------------------------------------
    TIMELINE              
  -----------------------------------------*/
  .timeline-section {
    background-image: url('../images/colleagues-working-cozy-office-medium-shot.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .timeline-container .vertical-scrollable-timeline {
    list-style-type: none;
    position: relative;
    padding-left: 0;
  }
  
  .timeline-container .vertical-scrollable-timeline .list-progress {
    width: 8px;
    height: 87%;
    background-color: var(--primary-color);
    position: absolute;
    left: 52px;
    top: 0;
    overflow: hidden;
  }
  
  .timeline-container .vertical-scrollable-timeline .list-progress .inner {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: var(--secondary-color);
    width: 100%;
  }
  
  .timeline-container .vertical-scrollable-timeline li {
    position: relative;
    padding: 20px 0px 65px 145px;
  }
  
  .timeline-container .vertical-scrollable-timeline li:last-child {
    padding-bottom: 0;
  }
  
  .timeline-container .vertical-scrollable-timeline li p {
    line-height: 40px;
  }
  
  .timeline-container .vertical-scrollable-timeline li p:last-child {
    margin-bottom: 0;
  }
  
  .timeline-container .vertical-scrollable-timeline li .icon-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 104px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    z-index: 1;
    transition: 0.4s all;
  }
  
  .timeline-container .vertical-scrollable-timeline li .icon-holder::before {
    content: "";
    width: 80px;
    height: 80px;
    border: 4px solid #fff;
    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s all;
  }
  
  .timeline-container .vertical-scrollable-timeline li .icon-holder i {
    font-size: 25px;
    color: var(--white-color);
  }
  
  .timeline-container .vertical-scrollable-timeline li::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 8px;
    background-color: transparent;
    left: 52px;
    z-index: 0;
  }
  
  .timeline-container .vertical-scrollable-timeline li.active .icon-holder {
    background-color: var(--primary-color);
  }
  
  .timeline-container .vertical-scrollable-timeline li.active .icon-holder::before {
    background-color: var(--primary-color);
  }
  
  
  
  
  
  
  /*---------------------------------------
    RESPONSIVE STYLES               
  -----------------------------------------*/
  @media screen and (max-width: 991px) {
    h1 {
      font-size: 48px;
    }
  
    h2 {
      font-size: 36px;
    }
  
    h3 {
      font-size: 32px;
    }
  
    h4 {
      font-size: 28px;
    }
  
    h5 {
      font-size: 20px;
    }
  
    h6 {
      font-size: 18px;
    }
  
    .section-padding {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    
  
   
  
    .custom-block-topics-listing .custom-block-image {
      width: auto;
    }
  
    .custom-block-topics-listing > .d-flex,
    .custom-block-topics-listing-info,
    .custom-block-topics-listing a {
      flex-direction: column;
    }
  
    .timeline-container .vertical-scrollable-timeline .list-progress {
      height: 75%;
    }
  
    .timeline-container .vertical-scrollable-timeline li {
      padding-left: 135px;
    }
  
    .subscribe-form-wrap {
      padding-top: 30px;
      padding-bottom: 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 36px;
    }
  
    h2 {
      font-size: 28px;
    }
  
    h3 {
      font-size: 26px;
    }
  
    h4 {
      font-size: 22px;
    }
  
    h5 {
      font-size: 20px;
    }
  }
  
  