body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;}
/* Basic Progress Bar setup*/
.cardy-name{
  margin:50px
}
.progressbar {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 100;
}
.progressbar li {
list-style-type: none;
width: 30%;
float: left;
font-size: 1rem;
position: relative;
text-align: center;
color: #999999;
}

.progressbar li:after {
width: 100%;
height: 2px;
content: "";
position: absolute;
background-color: #5b9279;
top: 25px;
left: -50%;
z-index: -1;
}
.progressbar li:first-child:after {
content: none;
}

.progressbar li.active:before {
border-color: #f89d13;
}
.progressbar li.active + li:after {
background-color: #f89d13;
}

.progressbar li:before {
width: 50px;
height: 50px;
border: 2px solid #5b9279;
display: block;
text-align: center;
margin: auto;
border-radius: 50%;
background-color: #FFFFFF;
color: #5b9279;
display: flex;
align-items: center;
justify-content: center;
}

li:before {
content: "";
}

/* Step Count */
ul.rb-step {
counter-reset: step;
}

ul.rb-step li:before {
content: counter(step);
counter-increment: step;
}

.index-btn-wrapper{
  display: flex;
}

.index-btn{
  margin: 20px 15px 0 0;
  background: #5b9279;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.index-btn:hover{
  opacity: 0.8;
  background-color: #f89d13;
}


.form-container {
display: flex;
justify-content: center;
align-items: center;
}
.form-box {
width: 100%; 
max-width: 1000px; 
padding: 20px;
background: #FFFFFF;
margin: auto;
border-radius: 20px;
margin-left: 20px;
margin-right: 20px;
box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}
.heading{
font-size: 40px;
font-weight: bold;
color: #5b9279;
}
.text{
margin-left: 6px;
}
.list {
  left:10px;
  margin-top:30px;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  gap:10px;
}

  .form-element {
  display: none;
  position:relative;
  width:250px;
  height:250px;

  }
  .form-element input {
  display:none;
  }
  .form-element label {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:100%;
  cursor:pointer;
  border:2px solid #ddd;
  background:#fff;
  box-shadow:0px 5px 20px 2px rgba(0,0,0,0.1);
  text-align:center;
  transition:all 200ms ease-in-out;
  border-radius:20px;
  }
  .form-element .title {
  font-size:15px;
  color:#555;
  padding:5px 0px;
  transition:all 200ms ease-in-out;
  }
  .form-element label:before {
  content:"✓";
  position:absolute;
  width:18px;
  height:18px;
  top:8px;
  left:8px;
  background:#f89d13;
  color:#fff;
  text-align:center;
  line-height:18px;
  font-size:14px;
  font-weight:600;
  border-radius:50%;
  opacity:0;
  transform:scale(0.5);
  transition:all 200ms ease-in-out;
  }
  .form-element input:checked + label:before {
  opacity:1;
  transform:scale(1);
  }
  .form-element input:checked + label .icon {
  color:#f89d13;
  }
  .form-element input:checked + label .title {
  color:#f89d13;
  }
  .form-element input:checked + label {
  border:2px solid #f89d13;
  }

  
.containerImage {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
input[type="file"]{
display: none;
}
.upload{
display: block;
position: relative;
background-color: #5b9279;
color: #FFFFFF;
font-size: 1.1em;
text-align: center;
width: 16em;
padding: 1em 0;
border-radius: 0.3em;
margin: 0 auto 1em auto;
cursor: pointer;
}
#image-display{
position: relative;
width: 90%;
margin: 0 auto;
display: flex;
justify-content: space-evenly;
gap: 1.25em;
flex-wrap: wrap;
}
#image-display figure{
width: 45%;
}
#image-display img{
width: 100%;
}
#image-display figcaption{
font-size: 0.8em;
text-align: center;
color: #5a5861;
}
.activeImage{
border: 0.2em dashed #f89d13;
}
#error{
text-align: center;
color: red;
}

.form-element .wrapper {
  height: 2.3em;
  max-width: 100%;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5b9279;
  border-radius:20px;
}

.form-element .wrapper span {
  width: 100%;
  text-align: center;
  font-size: 25px; 
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.form-element .wrapper span.num {
  font-size: 20px;
  border-right: 1px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.2);
  pointer-events: none;
}
.row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33%;
  }
  
  #pickup,
  #dropOff {
    width: 100%;
  }
  
  #googleMap {
    width: 100%;
    height: 300px;
  }
/*output box*/
#output {
display: none;
text-align: center;
font-size: 2em;
margin: 20px auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh; /* Adjust height as needed */
}
.container1 {
  display: flex;
  flex-wrap: wrap;
}

.popover {
  display: none;
  position: absolute;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  width: auto; /* Allow popover width to adjust based on content */
  width: 500px; /* Limit the maximum width of the popover */
  white-space: normal; /* Allow text to wrap onto new lines */
}

.popover-left {
  left: calc(-107% - 10px);/* Position to the left of the image */
  top: 50%;
  transform: translateY(-50%);
}

.popover-right {
  left: calc(95% + 10px); /* Position to the right of the image */
  top: 50%;
  transform: translateY(-50%);
}

.form-element:hover .popover {
  display: block;
}
