body{
    background-color: #f1f1f1;
  }
  
  
  #whoAreWe{
      background-image: linear-gradient(-45deg, #8fcb9bc9 0%, #5b9279aa 0% );
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      padding: 90px;
      margin: 40px;
      transition: 2s;
      color: #f1f1f1;
    
  }
  
  
    
  
  /* About section */
  .page-section{
      padding: 50px;
    }
    .timeline {
        position: relative;
        padding: 0;
        list-style: none;
    }
  #whoAreWe h1{
      font-size: 50px;
      font-weight: bold;
  }
    
  
    @media (min-width: 768px) {
      section {
        padding: 9rem 0;
      }
    }
    @media (min-width: 992px) {
      section {
        padding: 12rem 0;
      }
    }